{% extends "base.html" %}
{% load static %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Train with Games Ready? GO!
                </h1>
                <h4>Brain training for real life results</h4>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="play-now-button btn btn-lg rounded-0 text-uppercase py-3">Play Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

<section class="about-section">
	<div class="container h-100">
		<h1 class="text-center mt-3"> We are #GameChangers </h1>
        <hr class="w-50 mb-1">

		<div class="row h-100">
			<div class="col-7 col-md-6 my-aut">
				<img src="/media/1.jpg" style="width:650px;height:450px;" class="about-section-img">
            </div>
            <div class="col-7 col-md-6 my-aut">

                <p>
                    Traditional training emphasises commands and cues, like ‘sit’ ‘down’ and ‘stay’. But our methods
                    take a
                    different approach – one backed by the latest science. We teach dogs to think and make good
                    choices, and we
                    encourage them to work with you.
                </p>
                <p>
                    I’m an active member of the Pro Dog Trainer community, and regularly attend training workshops
                    and seminars
                    run by the world-renowned vet behaviourist, Tom Mitchell, and Crufts agility winner, Lauren
                    Langman.
                </p>
                <p>
                    The Pro Dog Trainer Method doesn’t begin training with cues like ‘sit’ ‘down’ and ‘stay’. It is
                    not the most
                    important skill to start teaching your puppy or adult dog and it’s impractical, as it doesn’t
                    simulate your
                    dog’s day-to-day life. Knowing how to ‘sit’ doesn’t help a dog to come back when called, or
                    restrain
                    themselves
                    when there’s wildlife to chase, noises to bark at, and ankles to bite.
                </p>
                <p>
                    Instead, we work through fun games which shape your dog’s brain – and their behaviour. We give
                    them skills
                    such as focus, confidence and calmness.
                </p>
                <p>
                    Whatever training or behavioural struggle you are facing, just remember "There’s a game for
                    that!"
                </p>
            </div>
		</div>
    </div>
</section>

<section class="coming-soon-section">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h1>Coming Soon</h1>
                    <hr class="w-50 mb-1 coming-soon-header">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="coming-soon">
                        <div>
                            <img src="/media/comingsoon1.jpg" alt="Online Classes" style="width:475px;height:575px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="coming-soon">
                        <div>
                            <img src="/media/comingsoon2.jpg" alt="Club" style="width:475px;height:575px;">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="coming-soon">
                        <div>
                            <img src="/media/comingsoon3.jpg" alt="Blog" style="width:475px;height:575px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contact-us-section">
    <div class="row contact-us-heading" id="contact">
        <div class="col text-center mt-3">
            <h1 class="">Contact Us</h1>
            <hr class="w-50 mb-1">
        </div>
    </div>            
    <div class="container-fluid" >
        <div class="row bg-color">
            <div class="col-md-4 offset-4">
                <div class="form ">
                    <input type="text " name="name " id="fullname" class="form-control " placeholder="Name " required/>
                    <input type="email " name="email " id="emailaddress " class="form-control" placeholder="Email " required/>
                    <textarea rows="5 " name="message " id="message " class="form-control " placeholder="Type your message here " required></textarea>
                    <div class="form-row ">
                        <div class="col text-center">
                            <button type="submit" class="btn-contact btn-contact-outline">Submit</button>
                        </div>
                    </div>
                    <div>
                    <p class="form-thanks ">Thanks, we'll be in touch soon!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}