{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Train with Games Ready? GO!
                </h1>
                <h4>Brain training for real life results</h4>
                <div class="my-5">
                    <h4>
                        <a href="" class="play-now-button btn btn-lg rounded-0 text-uppercase py-3">Play Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container h-100 bg-white">
		<div class="row h-100 bg-white">
			<div class="col-7 col-md-6 my-auto about-section">
				<h1> We are #GameChangers </h1>
				<p>
					Traditional training emphasises commands and cues, like ‘sit’ ‘down’ and ‘stay’. But our methods take a
					different approach – one backed by the latest science. We teach dogs to think and make good choices, and we
					encourage them to work with you.
				</p>
				<p>
					I’m an active member of the Pro Dog Trainer community, and regularly attend training workshops and seminars
					run by the world-renowned vet behaviourist, Tom Mitchell, and Crufts agility winner, Lauren Langman.
				</p>
				<p>
					The Pro Dog Trainer Method doesn’t begin training with cues like ‘sit’ ‘down’ and ‘stay’. It is not the most
					important skill to start teaching your puppy or adult dog and it’s impractical, as it doesn’t simulate your
					dog’s day-to-day life. Knowing how to ‘sit’ doesn’t help a dog to come back when called, or restrain
					themselves
					when there’s wildlife to chase, noises to bark at, and ankles to bite.
				</p>
				<p>
					Instead, we work through fun games which shape your dog’s brain – and their behaviour. We give them skills
					such as focus, confidence and calmness.
				</p>
				<p>
					Whatever training or behavioural struggle you are facing, just remember "There’s a game for that!"
				</p>
			</div>
		</div>
    </div>        
{% endblock %}