{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy user_profile_form %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h3 class="logo-font mb-4">Edit Profile</h3>
                <hr>
            </div>
        </div>
        <div class="row" >

        <!--Details of how to update information-->
        <div class="row profile-outline">
            <div class="col-md-8">
                <div class="row" >
                    <div class="col-md-8">    
                    <p>Please email hello@gamesreadygo.com to update your user details.</p>
                    <p>Please provide the following information in your email:</p>
                    <ul>
                        <li>Registered Username plus any modification</li>
                        <li>Registered First Name plus any modification</li>
                        <li>Registered Last Name plus any modification</li>
                        <li>Registered Email plus any modification</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Back to user profile-->
        <div class="row">
            <div>
                <a class="btn btn-green rounded-0 text-uppercase" href="{% url 'profile' %}"
							     aria-haspopup="true" aria-expanded="false">Back</a>
            </div>
        </div>
    </div>
{% endblock %}

