{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">

        <!--Body of page-->
        <div class="row">
            <div class="col">
                <h3 class="logo-font mb-4 text-center">Thank You</h3>
                <hr class="w-50 mb-1">
                <h4 class="text-black signature text-center">Hello Gamechanger!</h4>
                   <p class="text-black success-text">This is confirmation of your order of one to one sessions with Games, Ready, GO!</p>
                   <p class="text-black success-text"> We will shortly be sending you a questionnaire so that we can find out more about your training needs.
                                        <br>This will be followed up with a booking request so that you can confirm your one to one sessions.
                                        <br>If you have any questions, feel free to contact us at hello@gamesreadygo.com.</p>
                   <p class="text-black text-center">Thank you for booking!</p>
                   <h4 class="text-black signature text-center"><strong>Games, Ready, GO!</strong></h4>
            </div>
        </div>

       <!--Navigation Buttons-->
        <div class="row gamechanger-btn">
			<div class="col-12">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'home' %}" class="btn btn-green rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-paw"></i>
                        </span>
                        <span class="text-uppercase">Learn more about the gamechanger way!</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}