{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h3 class="logo-font mb-4 text-center">{% trans "Change Password" %}</h3>
    <hr class="w-50 mb-1">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-center">
        <div class="col-12 form-input-allauth">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <a class="btn btn-outline-green rounded-0" href="{% url 'account_login' %}">Back to Login</a>
        <button class="btn btn-green rounded-0" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
