{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col text-center mt-3">
			<h2 class="logo-font">Book One to One Training Sessions</h2>
			<hr class="w-50 mb-1">
		</div>
	</div>
	<div class="row">
		<div class="product-container col-20 offset-1">
			<div class="row mt-1 mb-2"></div>
			<div class="row">
				{% for product in products %}
				<div>
					<div class="col">
						<div class="card h-100 border-0">
							<div class="card-header text-center">
								<h3>{{ product.name }}</h3>
							</div>
							<div class="card-body">
								<div class="card-text product-features">
									<h4 class="card-title text-center">Included in your session</h4>
									<ul class="card-text">
										{% for feature in product.get_features %}
										<li>{{ feature }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="card-footer bg-white pt-0 border-0 text-left">
								<div class="row">
									<div class="col">
										<p class="lead mb-0 text-center font-weight-bold">£{{ product.price }}</p>
									</div>
								</div>

								<form class="form" action="{% url 'checkout' product.id %}" method="POST">
									{% csrf_token %}
									<div class="col-12">
										<input type="submit" class="btn btn-green rounded-0 text-uppercase mt-5" value="Buy Now">
										<input type="hidden" name="redirect_url" value="{{ request.path }}">
					                </div>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
</div>

<div class="row">
	<div class="container-fluid">
		<div class="row">
			<div class="col text-center mt-3">
				<h2 class="">Coming Soon</h2>
				<hr class="w-50 mb-1">
			</div>
		</div>
      
        <div class="row">
            <div class="col-sm-4">
                <div class="card coming-soon">
                    <div class="card-image">
                        <img src="/media/comingsoon1.jpg" alt="Online Classes" style="width:475px;height:575px;">
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-image">
                        <img src="/media/comingsoon2.jpg" alt="Club" style="width:475px;height:575px;">
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-image">
                        <img src="/media/comingsoon3.jpg" alt="Blog" style="width:475px;height:575px;">
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}
 
	{% block postloadjs %}
	{{ block.super }}
	{% include 'products/includes/quantity_input_script.html' %}
	{% endblock %}

